.iteration {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.cardCity {
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgCard {
    display: flex;
    height: 30rem;
    object-fit: cover;
}

.filter{
    height: 4rem;
    display: flex;
    align-self: center;
    margin-top: 2rem;
}
.filter label{
     background-color: #6867AC;
     color: white;
     padding: 0.91rem;
     border-radius: 5px 0 0 5px;
     box-shadow: 6px 6px #a8a8cf;
     height: 3rem;
}
.filter input{
    height: 3rem;
    width: 20rem;
    border: #6867AC;
    border-radius: 0 5px 5px 0;
    box-shadow: 5px 5px #a8a8cf;
    font-size: 1rem;
}
.cityCard img {
    width: 25rem;
    margin: 1rem 1rem 0 1rem;
    border-radius: 10% 2% 10% 2%;
    box-shadow: 5px 2px 2px #6867acb6;

}

.cityCard p {
    width: 25rem;
}

.cityRouter{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:320px) {
    .cityRouter{
        display: flex;
        width: 100%;
        margin: 0%;
    }
    .cityCard {
        width: 100%;
        margin: 0rem;
        border: 2px solid #6867AC;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 6px 6px #a8a8cf;
        
    }
    .cityCard img {
        width: 80%;
    }
    .cityRouter p{
        width: 80%;
    }

    .imgCard {
        width: 100%;    
    }

    .iteration2 {
        width: 100%;
    }

}

@media screen and (max-width:379px) {
    .iteration{
        display: flex;
        width: 80%;
        margin: 0rem;
        justify-content: center;
        align-items: center;
    }
    .cityRouter{
        display: flex;
        width: 75%;
        margin-left: 5rem;
        justify-content: center;
        align-items: center;
    }
    .item {
        width: 90%;
    }

    .cityCard {
        width: 100%;
        margin: 0rem;
        border: 2px solid #6867AC;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 6px 6px #a8a8cf;
        
    }
    .imgCard {
        width: 70%;

    }

}

@media screen and (max-width:480px) {
    .item img {
        width: 100%;
    }
    .iteration{
        display: flex;
        width: 95%;
        margin: 0rem;
        justify-content: center;
        align-items: center;
    }
    .cityRouter{
        display: flex;
        width: 95%;
        justify-content: center;
        align-items: center;
    }
    .item {
        width: 95%;
     }
    .cityCard {
        width: 100%;
        margin: 0rem;
        border: 2px solid #6867AC;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 6px 6px #a8a8cf;
        
    }
}
@media screen and (max-width:700px) {
    .item img {
        width: 100%;
    }
    .iteration{
        display: flex;
        width: 100%;
        margin: 0rem;
        justify-content: center;
        align-items: center;
    }
    .cityRouter{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .item {
        width: 100%;
     }
    .cityCard {
        width: 100%;
        margin: 0rem;
        border: 2px solid #6867AC;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 6px 6px #a8a8cf;
        
    }
}
@media screen and (max-width:900px) {
    .item img {
        width: 100%;
    }
    .iteration{
        display: flex;
        width: 100%;
        margin: 0rem;
        justify-content: center;
        align-items: center;
    }
    .cityRouter{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .item {
        width: 100%;
     }
    .cityCard {
        width: 100%;
        margin: 0rem;
        border: 2px solid #6867AC;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 6px 6px #a8a8cf;
        
    }
}
@media screen and (max-width:1030px) {
    .item img {
        width: 100%;
    }
    .iteration{
        display: flex;
        width: 100%;
        margin: 0rem;
        justify-content: center;
        align-items: center;
    }
    .cityRouter{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .item {
        width: 100%;
     }
    .cityCard {
        width: 100%;
        margin: 0rem;
        border: 2px solid #6867AC;
        border-radius: 5px 5px 5px 5px;
        box-shadow: 6px 6px #a8a8cf;
        
    }
}