.iteration {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}


a {
    text-decoration: none;
}

.cardCity {
    display: flex;
}



.cityCard img {
    width: 25rem;
    margin: 1rem 1rem 0 1rem;
    border-radius: 10% 2% 10% 2%;
    box-shadow: 5px 2px 2px #6867acb6;

}

.cityCard p {
    width: 25rem;
}

.cityRouter{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:320px) {
    .cityCard img {
        width: 100%;
    }

    .cityCard {
        width: 100%;
    }

    .imgCard {
        width: 100%;
    }

}

@media screen and (max-width:379px) {
    .item {
        width: 100%;
    }

    .cityCard {
        width: 100%;
    }

    .imgCard {
        width: 100%;
    }

}

@media screen and (max-width:480px) {
    .item img {
        width: 100%;
    }
}