.cityCard p {
    width: 25rem;
}

.cityRouter{
    display: flex;
    justify-content: center;
}
.Details-Container{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.Details-Container h2{
    padding: 1rem;
    font-size: 1.8rem;
}
.Details-Container h3{
    padding: 0.5rem;
    font-size: 1.6rem;
}
.Details-Container p{
    margin: 1rem;
    font-size: 1.5rem;
}
.Details-Container img{
    display: flex;
    width: 60%;
    justify-content: center;
    margin-left: 18rem;
}
.Details-Container p{
    margin: 1rem;
}
.Action-Button{
    background-color: #6867AC;
    border-radius: 5px 5px 5px 5px;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
}

@media screen and (max-width:320px) {
    .Details-Container{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .Details-Container h2{
        padding: 1rem;
    }
    .Details-Container h3{
        padding: 0.5rem;
    }
    .Details-Container p{
        margin: 1rem;
    }
    .Details-Container img{
        display: flex;
        width: 100%;
        justify-content: center;
        margin-left: 2rem;
    }
    .Action-Button{
        background-color: #6867AC;
        border-radius: 5px 5px 5px 5px;
        color: white;
        padding: 1rem;
        margin-top: 1rem;
    }

}

@media screen and (max-width:379px) {
    .item {
        width: 100%;
    }

    .cityCard {
        width: 100%;
    }

    .imgCard {
        width: 100%;
    }

    .Details-Container img{
        width: 80%;

    }

}

@media screen and (max-width:480px) {
    .item img {
        width: 100%;
    }
    .Details-Container{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .Details-Container h2{
        padding: 1rem;
    }
    .Details-Container h3{
        padding: 0.5rem;
    }
    .Details-Container p{
        margin: 1rem;
    }
    .Details-Container img{
        display: flex;
        width: 95%;
        justify-content: center;
        margin-left: 0.5rem;
 }
 .Action-Button{
    background-color: #6867AC;
    border-radius: 5px 5px 5px 5px;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
}
}
@media screen and (max-width:700px) {
    .item img {
        width: 100%;
    }
    .Details-Container{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .Details-Container h2{
        padding: 1rem;
    }
    .Details-Container h3{
        padding: 0.5rem;
    }
    .Details-Container p{
        margin: 1rem;
    }
    .Details-Container img{
        display: flex;
        width: 95%;
        justify-content: center;
 }
 .Action-Button{
    background-color: #6867AC;
    border-radius: 5px 5px 5px 5px;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
}
}
@media screen and (max-width:900px) {
    .item img {
        width: 100%;
    }
    .Details-Container{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .Details-Container h2{
        padding: 1rem;
    }
    .Details-Container h3{
        padding: 0.5rem;
    }
    .Details-Container p{
        margin: 1rem;
    }
    .Details-Container img{
        display: flex;
        width: 95%;
        justify-content: center;
        margin-left: 2rem;
 }
}
@media screen and (max-width:1030px) {
    .item img {
        width: 100%;
    }
    .Details-Container{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .Details-Container h2{
        padding: 1rem;
    }
    .Details-Container h3{
        padding: 0.5rem;
    }
    .Details-Container p{
        margin: 1rem;
    }
    .Details-Container img{
        display: flex;
        width: 95%;
        justify-content: center;
        margin-left: 2rem;
 }
 .Action-Button{
    background-color: #6867AC;
    border-radius: 5px 5px 5px 5px;
    color: white;
    padding: 1rem;
    margin-top: 1rem;
}
}