.cityCard p {
    width: 25rem;
}

.cityRouter{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:320px) {
    .cityCard img {
        width: 100%;
    }

    .cityCard {
        width: 100%;
    }

    .imgCard {
        width: 100%;
    }

}

@media screen and (max-width:379px) {
    .item {
        width: 100%;
    }

    .cityCard {
        width: 100%;
    }

    .imgCard {
        width: 100%;
    }

    .Details-Container img{
        width: 80%;

    }

}

@media screen and (max-width:480px) {
    .item img {
        width: 100%;
    }
}
