*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Footer-Box{
    min-height: 10vh;
    background-color: #A267AC;
    display: flex;
    justify-content: space-around;
    align-items: center;
}