*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Footer-Box{
    min-height: 10vh;
    background-color: #6867AC;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.Footer1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footernav {
    display: flex;
    margin: 0 1rem 0 1rem;
}

.footernav a{
    height: 2.6rem;
    width: 6rem;
    background-color: #ffff; 
    color: #6867AC;
    border: 1px solid #ffff;
    border-radius: 10pt;
    margin: 1rem;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    display: flex;
    justify-content: center;
    align-self: center;
    width: 5rem;
    background-color: white;
    color: #6867AC;
    font-size: 15pt;
    border-radius: 10pt;
    margin-top: 1rem;
    border: 1px solid #ffff;
}

.Contacts{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.Where {
    color: #ffff;
    margin-top: 2rem;
}
.flags img{
    width: 5rem;
}
.fLinks{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.date {
    color: #ffff;
    font-size: large;
    display: flex;
    justify-content: center;
}

.address {
    display: flex;
    color: #ffff;
    margin-top: 2rem;
    align-items: center;
    flex-wrap: wrap;

}

.addressp {
    display: flex;
    flex-direction: column;
    padding-right: 1rem;
    text-align: justify;
    flex-wrap: wrap;

}

.addressp a {
    width: 100%;
}
.address a{
    text-decoration: none;
    color: #ffff;
}

.address img{
    width: 10rem;
    height: 8rem;
    border-radius: 25%;
    margin-bottom: 1rem;
}
.Team{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    padding: 0.5rem;
}
.Team img{
    width: 5rem;
    flex-wrap: wrap;
}
.Team h2{
    color: white;
    font-size: 1.2rem;
}
.Footer-Icons{
    display: flex;
}
.Footer-Icons img{
    width: 2.5rem;
    margin: 0.5rem;
}
@media screen and (max-width:320px){
    .Footer-Box{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #6867AC;
    }
    .Footer1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .Team{
        flex-wrap: wrap;
    }
    .Team img{
        width: 5rem;
        margin-top: 1rem;
    }
    .Team h2{
        color: white;
        font-size: 1.2rem;
        text-shadow: 2px 2px gray;
    }
    .fLinks{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .footernav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: 0 0.5rem 0 0.5rem;
    }
    
    .footernav a{
        height: 2.8rem;
        width: 8rem;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        background-color: #ffff; 
        color: #6867AC;
        border-radius: 10pt;
        margin: 1rem;
        text-decoration: none;
        text-align: center;
        display: flex;
        box-shadow: 3px 3px lightgrey;
    }
    .Footer-Button{
        width: 4.5rem;
        height: 2.5rem;
        font-size: 1.1rem;
        margin: 1rem;
        border-radius: 5px;
        font-weight: 600;
        color: #6867AC;
        background-color: white;
        box-shadow: 3px 3px lightgrey;
    }
    .Footer-Icons{
        flex-wrap: wrap;
    }
    .Footer-Icons img{
        width: 2.5rem;
        margin: 1rem;
    }
    .Contacts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .Where{
        flex-wrap: wrap;
        justify-content: center;
        color: white;
        margin: 1rem;
    }
    .flags{
        flex-wrap: wrap;
        margin: 1rem;
    }
    .flags img{
        width: 4.2rem;
    }
    .date{
        flex-wrap: wrap;
    }
    .address{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 1rem;
    }
    .addressp{
        flex-wrap: wrap;
        color: white;
        margin: 0.5rem;
        text-shadow: 2px 2px gray;
    }

    .map img{
        width: 14rem;
        height: 10rem;
    }
}
@media screen and (max-width:375px){
    .Footer-Box{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #6867AC;
    }
    .Footer1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .Team{
        flex-wrap: wrap;
    }
    .Team img{
        width: 5rem;
        margin-top: 1rem;
    }
    .Team h2{
        color: white;
        font-size: 1.2rem;
        text-shadow: 2px 2px gray;
    }
    .fLinks{
        flex-wrap: wrap;
        width: 100%;
    }
    .footernav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: 0 0.5rem 0 0.5rem;
    }
    
    .footernav a{
        height: 2.8rem;
        width: 8rem;
        font-weight: 800;
        background-color: #ffff; 
        color: #6867AC;
        border: 1px solid #ffff;
        border-radius: 10pt;
        margin: 1rem;
        text-decoration: none;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 3px 3px lightgrey;
    }
    .Footer-Button{
        width: 4.5rem;
        height: 2.5rem;
        font-size: 1.1rem;
        margin: 1rem;
        border-radius: 5px;
        font-weight: 600;
        color: #6867AC;
        background-color: white;
        box-shadow: 3px 3px lightgrey;
    }
    .Footer-Icons{
        flex-wrap: wrap;
    }
    .Footer-Icons img{
        width: 2.5rem;
        margin: 1rem;
    }
    .Contacts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .Where{
        flex-wrap: wrap;
        justify-content: center;
        color: white;
        margin: 1rem;
    }
    .flags{
        flex-wrap: wrap;
        margin: 1rem;
    }
    .flags img{
        width: 4.2rem;
    }
    .date{
        flex-wrap: wrap;
    }
    .address{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 1rem;
    }
    .addressp{
        flex-wrap: wrap;
        color: white;
        margin: 0.5rem;
        font-size: 1.1rem;
        text-shadow: 2px 2px gray;
    }

    .map img{
        width: 16rem;
        height: 12rem;
    }
}
    

@media screen and (max-width:425px){
    .Footer-Box{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #6867AC;
    }
    .Footer1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .Team{
        flex-wrap: wrap;
    }
    .Team img{
        width: 5rem;
        margin-top: 1rem;
    }
    .Team h2{
        color: white;
        font-size: 1.2rem;
        text-shadow: 2px 2px gray;
    }
    .fLinks{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .footernav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: 0 0.5rem 0 0.5rem;
    }
    
    .footernav a{
        height: 2.8rem;
        width: 8rem;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        background-color: #ffff; 
        color: #6867AC;
        border-radius: 10pt;
        margin: 1rem;
        text-decoration: none;
        text-align: center;
        display: flex;
        box-shadow: 3px 3px lightgrey;
    }
    .Footer-Button{
        width: 4.5rem;
        height: 2.5rem;
        font-size: 1.1rem;
        margin: 1rem;
        border-radius: 5px;
        font-weight: 600;
        color: #6867AC;
        background-color: white;
        box-shadow: 3px 3px lightgrey;
    }
    .Footer-Icons{
        flex-wrap: wrap;
    }
    .Footer-Icons img{
        width: 2.5rem;
        margin: 1rem;
    }
    .Contacts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .Where{
        flex-wrap: wrap;
        justify-content: center;
        color: white;
        margin: 1rem;
    }
    .flags{
        flex-wrap: wrap;
        margin: 1rem;
    }
    .flags img{
        width: 5.2rem;
    }
    .date{
        flex-wrap: wrap;
    }
    .address{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 1rem;
    }
    .addressp{
        flex-wrap: wrap;
        color: white;
        margin: 0.5rem;
        text-shadow: 2px 2px gray;
    }

    .map img{
        width: 14rem;
        height: 10rem;
    }
}



@media screen and (max-width:768px){
    .Footer-Box{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #6867AC;
    }
    .Footer1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .Team{
        flex-wrap: wrap;
    }
    .Team img{
        width: 5rem;
        margin-top: 1rem;
    }
    .Team h2{
        color: white;
        font-size: 1.2rem;
        text-shadow: 2px 2px gray;
    }
    .fLinks{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .footernav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: 0 0.5rem 0 0.5rem;
    }
    
    .footernav a{
        height: 2.8rem;
        width: 8rem;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        background-color: #ffff; 
        color: #6867AC;
        border-radius: 10pt;
        margin: 1rem;
        text-decoration: none;
        text-align: center;
        display: flex;
        box-shadow: 3px 3px lightgrey;
    }
    .Footer-Button{
        width: 4.5rem;
        height: 2.5rem;
        font-size: 1.1rem;
        margin: 1rem;
        border-radius: 5px;
        font-weight: 600;
        color: #6867AC;
        background-color: white;
        box-shadow: 3px 3px lightgrey;
    }
    .Footer-Icons{
        flex-wrap: wrap;
    }
    .Footer-Icons img{
        width: 2.5rem;
        margin: 1rem;
    }
    .Contacts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .Where{
        flex-wrap: wrap;
        justify-content: center;
        color: white;
        margin: 1rem;
    }
    .flags{
        flex-wrap: wrap;
        margin: 1rem;
    }
    .flags img{
        width: 5.2rem;
    }
    .date{
        flex-wrap: wrap;
    }
    .address{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 1rem;
    }
    .addressp{
        flex-wrap: wrap;
        color: white;
        margin: 0.5rem;
        text-shadow: 2px 2px gray;
    }

    .map img{
        width: 14rem;
        height: 10rem;
    }
}

@media screen and (max-width:1024px){
    .Footer-Box{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #6867AC;
    }
    .Footer1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .Team{
        flex-wrap: wrap;
    }
    .Team img{
        width: 5rem;
        margin-top: 1rem;
    }
    .Team h2{
        color: white;
        font-size: 1.2rem;
        text-shadow: 2px 2px gray;
    }
    .fLinks{
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
    .footernav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: 0 0.5rem 0 0.5rem;
    }
    
    .footernav a{
        height: 2.8rem;
        width: 8rem;
        justify-content: center;
        align-items: center;
        font-weight: 800;
        background-color: #ffff; 
        color: #6867AC;
        border-radius: 10pt;
        margin: 1rem;
        text-decoration: none;
        text-align: center;
        display: flex;
        box-shadow: 3px 3px lightgrey;
    }
    .Footer-Button{
        width: 4.5rem;
        height: 2.5rem;
        font-size: 1.1rem;
        margin: 1rem;
        border-radius: 5px;
        font-weight: 600;
        color: #6867AC;
        background-color: white;
        box-shadow: 3px 3px lightgrey;
    }
    .Footer-Icons{
        flex-wrap: wrap;
    }
    .Footer-Icons img{
        width: 2.5rem;
        margin: 1rem;
    }
    .Contacts{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .Where{
        flex-wrap: wrap;
        justify-content: center;
        color: white;
        margin: 1rem;
    }
    .flags{
        flex-wrap: wrap;
        margin: 1rem;
    }
    .flags img{
        width: 5.2rem;
    }
    .date{
        flex-wrap: wrap;
    }
    .address{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin: 1rem;
    }
    .addressp{
        flex-wrap: wrap;
        color: white;
        margin: 0.5rem;
        text-shadow: 2px 2px gray;
    }

    .map img{
        width: 14rem;
        height: 10rem;
    }
}