*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Footer-Box{
    min-height: 10vh;
    background-color: #6867AC;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Team{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Team img{
    width: 5rem;
    flex-wrap: wrap;
}
.Team p{
    color: white;
    font-size: 1.2rem;
}