*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Header-Box{
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
}
.Header-Logo{
    width: 5rem;
}
.Header-Box nav {
    display: flex;
}
.User{
    display: flex;

}
.Header-CityNav{
    padding: 0.5rem;
}
.Header-CityNav img{
    width: 5rem;
}
.Header-CityNav a{
    margin-top: 0%;
}