.User-Container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
}

.User-Container img {
    
    width: 5rem;
}
@media screen and (max-width:320px){
.User-Container img{
    width: 3rem;
}
@media screen and (max-width:320px){
    .cityCard{
        width: 100%;
    }
}

}